body {
    background-color: #333;
    color: #fff;
}

.container-create-account,
.container-login{
    margin-top: 10%;
}

.container label{
    color: rgba(240, 248, 255, 0.664) !important;
}

.navbar button {
    font-size: 27px;
}

.card {
    color:#333;
}
